body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}



  /* cabecalho-home */

header {
display: flex;
margin-top: -1px; ;
width: 100%;
height: 95.48px;
background: #367CBC;
}

#logo { 
margin-left: 43px;
width: 152px;
height: 92px;
top: 2px;
}

#frm-cep { 
color: white; 
margin-top: 30px;
margin-right: 15.23px;
width: 142.22px;
height: 30.53px;
left: 20px;
}

#container-home {
align-content:center;
display: flex;
width: 100%;
margin-left: auto; 
justify-content: space-around;
}   

#frm-container-home input, textarea {
width: 500px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
padding: 2px 5px;

height: 30px;
}

#frm-barra {
margin-top: 45px;
margin-right: 22px;
width: 490.35px;
height: 50.79px;

}

#frm-atendimento {
color: white;
margin-left: 9px;
width: 135.18px;
height: 35.14px;
margin-top: 30px;

}

#frm-carrinho {
color: white;
margin-top: 30px;
margin-left:10px; 
display: flex;
height: 40px;
text-decoration: none;
}

a {
color: white;
text-decoration: none;
}


#menu-drop-down ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #2E72B0;
    overflow: hidden;
}

#menu-drop-down ul li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;


}#menu-drop-down li {
    float: left;
}



#menu-drop-down li a.active, #menu-drop-down .dropdown:hover .dropbtn {
    font-weight: bold;
    color: white;
    cursor:default;
    border-radius: 100px;
}

#menu-drop-down li a:hover:not(.active){
font-weight: bold;
color: black;   
}

#menu-drop-down li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

#menu-drop-down .dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.4);
    z-index: 1;
    background-color: white;
}

#menu-drop-down .dropdown:hover .dropdown-content {
    display: block ;
}

#menu-drop-down .dropdown-content a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.img-home{
    height: 280px;
    width: 1300px;
    margin-left: 120px;
    margin-top: 60px;
    border-radius: 20px;
}


#racao h2 {
color: #b8b8b8;
margin-top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
margin-left: 30px;
}

.container_produtos{
    width: 1650px;
    display: flex;
}


.card{
    width: 270px;
    height: 300px;
    margin: 15px;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    background-color: white;
}

#container_master {
    display: flex;
    margin-left: 10px;
    align-content: space-evenly;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.10));
}

#container_master3 {
   margin-right: 10px;
}


#img2-home{
    height: 250px;
    width: 1300px;
    margin-left: 120px;
    margin-top: 150px;
    border-radius: 20px;
}





/* LOGIN*/


/*container login*/

#container-login {
    width: 1009.87px;
    margin-top: 43px;
    margin-bottom: 141px;
    display: flex;
    margin-left: 300px;
    margin-right: 237px;
    background: #F1F1F1;
    border-radius: 35px;

}

#contato-conteudo {
    display: flex;
    padding: 45px 0px;
    flex-direction: column;

}

#frm-contato {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#frmEmail {
    margin-left: 44px;
    margin-bottom: 40px;
    width: 461.07px;
    height: 50.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    left: 237px;
    top: 205.53px;
}

#frm-senha4 {
    margin-left: 44px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    left: 237px;
    top: 205.53px;
}

#Conf-senha {
    text-align: left;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 50px;
}

#Conf-email {
    text-align: left;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 50px;
}

#password {
    margin-left: 44px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    left: 237px;
    top: 205.53px;
}

#confirm_password {
    margin-left: 44px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    left: 237px;
    top: 205.53px;
}

#botao-entrar {
    margin-left: 44px;
    border-radius: 20px;
    background-color: #02263ef1;
    color: #F1F1F1;
    font-size: 24px;
    width: 461.07px;
    height: 55.48px;
    left: 237px;
    top: 409.5px;
}
#botao-entrar:hover {
    margin-left: 44px;
    border-radius: 20px;
    background-color: #02263ef1;
    color: green;
    cursor: pointer;
    font-size: 24px;
    width: 461.07px;
    height: 55.48px;
    left: 237px;
    top: 409.5px;
}

#conteudo {
    margin-left: 175px
}

#conteudo a {
    color: #053664;
    font-size: 18px;
    text-decoration: none;
}

#conteudo2 {
    margin-left: 60px;

}

#linha {
    width: 200px;
    padding-bottom: 3px;
}

#conteudo2 a {
    text-decoration: none;
    color: black;
}

#botao-google {
    width: 410.93px;
    height: 59.95px;
    padding: 0;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 14px;
    margin-left: 10px;
}

#botao-google a, #botao-face a {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-face {
    margin-left: 10px;
    width: 410.93px;
    height: 59.95px;
    background: #1D0EC2;
    border: 2px solid #000000;
    border-radius: 14px;
}



.alinhamento {
    text-align: center;
    align-items: center;
}

#gogle {
    padding-top: 6px;
}

#facebook {
    padding-top: 6px;
}

.texto {
    padding-bottom: 10px;
}

#direita {
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}

#direita p {
    margin: 0;
}

#direita h4 {
    margin-bottom: 71px;
}

#foto-login {
    margin-top: 80px;
    padding-right: 20px;
    width: 334.08px;
    height: 335.02px;
}

/*fim da página login*/

/*cadastro*/

#logo-cadastro {
    border-radius: 20px;
    width: 235px;
    height: 170px;
    margin-left: 180px;
    margin-top: 120px;
}

#frm-email2-cadastro {
    margin-left: 95px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#frm-nome-cadastro {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#frm-sobrenome-cadastro {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#frm-senha2-cadastro {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#frm-genero-cadastro {
    margin-left: 95px;
    margin-bottom: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 213px;
    height: 70px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}


#frm-cpf-cadastro {
    margin-left: 19px;
    margin-bottom: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 213px;
    height: 70px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#contato-conteudo2-cadastro {
    display: flex;
    flex-direction: column;
}



#voltar-cadastro a {
    text-decoration: none;
    color: #000000;
    margin-left: 284px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#voltar-cadastro a {
    margin-left: 240px;
}

#voltar-cadastro {
    margin-bottom: 173px;
}

#texto-termos-cadastro {
    width: 590.29px;
    height: 72.89px;
    font-weight: 400;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
}

#conteudo3-cadastro{
    display: flex;
    flex-direction: row; 
    margin-left: 9px;
    width: 50%;
}

#container_cadastro{
display: flex;
flex-direction: row;
}



#esquerda-cadastro {
    margin-left: 210px;
}


#btnEnviar {
    width: 500px;
    margin-left: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
}















/*Sobre*/

#bannergato {
    width: 100%;
    background-image: url("../img/Rectangle\ 25.png");
    background-size: cover;
    height: 217px;
    min-height: 217px;
}

#container-sobre {
    flex-direction: column;

}

#frm-container-sobre{
    display: flex;
    padding: 10px;
    padding-top: 5px;
}



#frm-vd-sobre {
    width: 700px;
    height: 400px;
    left: 50px;
    top: 57px;
    margin-top: 40px;
    margin-left: 45px;
}


#bannergato h1 {
    color: black;
    margin-left: 400px;

}
.texto {
    width: 504.78px;
    height: 400px;
    left: 929.98px;
    top: 550.19px;

    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-left: 34px;
    color: #000000;
}

.textos {
    width: 1081.34px;
    height: 308.44px;
    left: 97px;
    top: 988.07px;
    font-family: 'Joti One';
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    margin-top: 40px;
    margin-left: 45px;
}
#gato {
    width: 100%;
    height: 200px;
}

footer {
    background-color: #2980B9;
    color: white;
    font-size: 16px;
    margin-top: auto;
    padding-top: 15px;
    padding-left: 50px;
    justify-content: space-around;
}

/* produtos */



.container_produtos1 {
    width: 1650px;
    display: flex;
    margin-top: 100px;
}




#container_master4 {
    display: flex;
    margin-left: 10px;
    align-content: space-evenly;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.10));
}


/*Contato*/


#bannerContato {
    background-color: #367CBC;
    background-size: cover;
    height: 175px;
    min-height: 175px;
}

#textoC {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    line-height: 54.42px;
    text-align: center;
    padding: 60px;
    color: white;
}

#esquerdaAtendimento {
    width: 45%;
    margin: 0px;
}



#frmConteiner {
    width: 100%;
    display: flex;
    align-content: space-around;
    flex-direction: row;
}

#dadosContato {
    width: 100%;
    height: 100%;
    padding: 5px;
}



#frmContato2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px;

}


#frmContato2 input,
textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 15px 0px;
    border-radius: 20px;
    border: solid 1px lightslategray;
    padding: 5px 0px;
    height: 100%;
    width: 100%;
}

#mensagemContato {
    width: 100%;
    height: 300px;
    resize: none;
}

#emailContato {
    width: 100%px;
    height: 30px;
    resize: none;
}

#nomeContato {
    width: 100%;
    height: 30px;
    resize: none;
}

#duvidaContato {
    width: 100%px;
    height: 30px;
    resize: none;
}




button {
    margin: 70px 15px 0px 55px;
    padding: 8px 150px;
    border: 0;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 600px;
}

#botao-enviar {
    background-color: #EBD50D;
    color: black;
    margin-right: 300px;
}

#containerAtendimento {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: 0%;
    display: flex;
    flex-direction:row;
}

#direitaAgendamento {
    width: 100%;
    height: 100%;
}

#foto-cachorro-cadastro {
    width: 100%;
    height: 100%;
}

#msgerro{
    color: red;
    font-size: 25px;
}

#msgAcerto{
    color: green;
    font-size: 25px;
}

#botao-entrar2 {
    text-align: center;
    margin-left: 105px;
    border-radius: 20px;
    background-color: #758918;
    color: #F1F1F1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    width: 461.07px;
}
















/* agendamento */


#imagem-agendamento {   
    height: 18  00px;
    background-image: url(../img/French-bulldog-blue-background_m.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;

}

#container-agendamento {
margin-left: 900px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
color: #FFFFFF;
}

#frm-agendamento {
    border-radius: 101px;
    display: flex;
    background-color: #065560;
    justify-content: space-around;
    width: 530px;
    margin-left: 50px;
   margin-top: 10px;
}

#frm-agendamento p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: white;
padding: 10px 0px 2px 110px;
}


#emailAgendamento {
    margin-right: 110px;
    margin-left: 95px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#teleAgendamento {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#petAgendamento {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#dataAgendamento {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#horaAgendamento {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#nomeAgendamento {
    margin-left: 95px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 461.07px;
    height: 50.59px;
    border: 2px solid #000000;
    border-radius: 14px;
    font-size: 18px;
}

#botao-apagar {
    text-align: center;
    margin-left: 105px;
    border-radius: 20px;
    background-color:#c9031a;
    color: #F1F1F1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    width: 461.07px;
    margin-bottom: 80px;
}

#mensagem-erro {
    background-color: #f0abaf;
    color: red;
    padding: 10px 15px;
    margin: 15px 0px;
    display: none;
}









/* Dados dashbord */
#pizza {
    height: 300px;
    width: 400px;
}

#tabela {
    height: 350px;
    width: 340px;
}

#google-visualization-table {
    width: 300px;
}

#barra {
    height: 500px;
    width: 35%;
}

#linha {
    height: 500px;
    width: 30%;
    margin-left: 30px;
    margin-right: 10px;
}


#container_dashbord {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

#container_dashbord p {

    width: 300px;
    font-size: 14px;

}

#container_dashbord2 {
   padding: 0 15px;
   display: flex;
   text-align: center;
   margin-left: 20px;
}




/* footer */

footer {
    background-color: #1E5A91;
}


footer #footer_content {
  display: flex;
  color: white;
}

footer #container ul {
    width: 25%;
}

footer #container h3 {
    margin-bottom: 16px;
}

footer #footer_siga img{
    margin-right: 10px;
    padding: 0px 5px 15px 10px;
}

footer #footer_siga h3{
    margin-left: 30px;
}

footer #footer_conteudo {
    margin-left: 200px;
}

footer #footer_atendimento {
    margin-left: 200px;
}

footer #footer_saiba {
    text-align: center;
    width: 290px;
}

footer #footer_content ul > p{
    margin-bottom: 40px;
}

footer #footer_content li {
    margin: 10px 0
}

footer #footer_content a{
    color: white;
}

footer #footer_content h2 {
    background-color: yellow;
    border-radius: 25px;
}

.fotos{
    height: 150px;
}


#container-login {
    width: 1009.87px;
    margin-top: 43px;
    margin-bottom: 141px;
    display: flex;
    margin-left: 300px;
    margin-right: 237px;
    background: #F1F1F1;
    border-radius: 35px;
}

#contato-conteudo {
    display: flex;
    padding: 45px 0px;
    flex-direction: column;
}

#frmcontato {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#inEmail {
    margin-left: 44px;
    margin-bottom: 20px;
    width: 461.07px;
    height: 30.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

#inData {
    margin-left: 44px;
    margin-bottom: 20px;
    width: 461.07px;
    height: 30.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

#inPet {
    margin-left: 44px;
    margin-bottom: 20px;
    width: 461.07px;
    height: 30.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

#inTipoAnimal {
    margin-left: 44px;
    margin-bottom: 20px;
    width: 461.07px;
    height: 30.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;}

#foto-cachorro-cadastro {
    width: 97%;
    height: 1529px;
    margin-left: 15px;
}

#inOutros {
    margin-left: 44px;
    margin-bottom: 20px;
    width: 461.07px;
    height: 30.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

#inidade {
    margin-left: 44px;
    margin-bottom: 20px;
    width: 461.07px;
    height: 30.59px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

#inSenha {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

#inName {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

#inEndereco {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

#inId {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

#inUf {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

#inCidade {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

#inTelefone {
    margin-left: 44px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 460.07px;
    height: 30.59px;
}

.btn-entrar {
    width: 201px;
    height: 43.77px;
    margin-left: 218.94px;
    margin-top: 35px;
    background: #2B72ED;
    border-radius: 23.63px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
}
    